/* 언어설정 */
@charset 'utf-8';

/* 전체설정 */
*{
    margin: 0;
    padding: 0;
}

ol,ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    border: none;
    vertical-align: bottom;
}

/* header ######################################### */
header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

header .header_inner {
    display: flex;
    justify-content: space-between;
}

header .header_inner .box1 {}

header .header_inner .box1 .site {}

header .header_inner .box1 .site h1 {
    font-size: 30px;
}

header .header_inner .box1 .site h1 a {}

header .header_inner .box2 {}

header .header_inner .box2 nav {}

header .header_inner .box2 nav ul {
    display: flex;
}

header .header_inner .box2 nav ul li {}

header .header_inner .box2 nav ul li a {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
}

/* body ############################################ */

.box3 {}

.box3 img {
    width: 100%;
}

.box4 {}

.box4 .notice {}

.box4 .notice h2 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #666;
}

.box4 .notice ul {}

.box4 .notice ul li {
    
}

.box4 .notice ul li a {
    display: block;
    padding: 5px;
    font-size: 14px;
    border-bottom: 2px dotted #ddd;
}

.box4 .notice ul li a:hover {
    background-color: #eee;
}

.box4 .notice ul li a {
    display: flex;
    flex-wrap: nowrap;
}

.box4 .notice ul li a time {
    margin-right: 10px;
    color: #888;
}

.box4 .notice ul li a .text {}

footer {
    background-color: #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* footer ####################################### */

footer .copyright {}

footer .copyright p {
    color: #666;
    font-size: 14px;
}

/* 간격설정 */
header {
    padding-top: 20px;
    padding-bottom: 10px;
}

.box4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ####################################### */
.header_inner, .box4, footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* 미디어쿼리설정 */

/* 599px 이하 */
@media (max-width: 599px) {
    nav ul {
        justify-content: center;
    }

    nav ul li a {
        font-size: 11px;
        padding: 10px 7px;
    }
}

/* 768px 이상 */
@media (min-width: 768px) {

}

/* 1200px 이상 */
@media (min-width: 1200px) {
    .box3, .box4, .copyright, .header_inner {
        width: 1200px;
        margin: 0 auto;
    }
}