/* 언어설정 */
@charset 'utf-8';

/* 전체설정 */

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: none;
    vertical-align: bottom;
}

/* header */
.header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 197px;
    display: flex;
    align-items: center;
}

.header .logo h1 {
     
}

.header .logo a {}

.header .navi {
    width: auto;
}

.header .navi .lng {
    margin-right: 40px;
}

.lng img {
    padding: 8px;

}

.header .navi .toggle {

}

.toggle img {
    padding: 8px;
}

.header .navi .gnb {}

.header .navi .gnb .menu {}

/* landing */
.landing {
    background-image: url(img/landing_bg_005.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 53vw;
    position: relative;
}

.landing .title_inner {
    /* display: flex; */
    height: 53vw;
    position: relative;
}

.landing .title {
    position: absolute;
    left: 0;
    top: 20%;
}

.landing .title h2 {
    font-size: 70px;
    color: #fff;
    font-weight: normal;
    font-family: 'jua';
}

.landing .title p {
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    font-family: 'NanumGothinc';
    margin-top: 16px;
}

.landing .title .button {
    margin-top: 64px;
}

.landing .title .button a {
    display: flex;
    width: 180px;
    height: 52px;
    background-color: #3787ff;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'NanumGothinc';
}

/* 슬라이드바 */
.boxF {
    display: flex;
    width: 654px;
    height: 144px;
    background-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

.boxF .line {
    width: 1px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
}

.boxE {
    width: 90%;
}

.boxA {
    display: flex;
}

.boxA .box01 {
    width: 50%;
    height: auto;
    font-size: 18px;
    font-weight: normal;
    font-family: 'NanumGothic';
    color: #fff;
}

.boxA .box02 {
    width: 50%;
    height: auto;
    font-size: 18px;
    font-weight: normal;
    font-family: 'NanumGothic';
    color: #fff;
    margin-left: 78px;
}

.box03 {
    width: 50%;
    height: auto;
    font-size: 70px;
    font-weight: normal;
    font-family: 'inter';
    color: #fff;
}

.boxB {
    width: 50%;
    text-align: center;
}

.boxB .box04 {
    height: auto;
}

.boxB .box05 {
    height: auto;
    font-size: 12px;
    font-weight: normal;
    font-family: 'NanumGothic';
    color: #fff;
    margin-top: 8px;
}

.boxC {
    width: 50%;
    display: flex;
    align-items: center;
}

.box06 {
    width: 50%;
    height: auto;
    margin-left: 78px;
}

.box06 .num {
    font-size: 70px;
    font-weight: normal;
    font-family: 'inter';
    color: #fff;
}

.box06 .txt {
    font-size: 28px;
    font-weight: normal;
    font-family: 'NanumGothic';
    color: #fff;
}

.boxD {
    display: flex;
}

/* 스크롤버튼 */
.scroll a {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 144px;
    background-color: #3787ff;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: normal;
    font-family: 'inter';
    position: absolute;
    right: 0;
    bottom: 0;

}

.scroll a span {
    display: inline-block;
    transform: rotate(90deg);
}

.scroll a img {
    margin-top: 35px;
}

/* 공지사항 */

/* 탭바 */
.boad {
    background-image: url(img/notice_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 64vw;
    position: relative;
}

.boad .con_box {
    height: 36.6vw;
    position: absolute;
    left: 10%;
    top: 50%;
    margin-top: -294px;
    background-color: aquamarine;
}

.boad .con_box .title_inner {
    /* display: flex; */
    height: 64vw;
    position: relative;
}

.title_box {}

.title_box ul {
    display: flex;
}

.title_box ul li {
    display: flex;
    color: #fff;
    border-bottom: solid 1px #fff;
    width: 174px;
    height: 52px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.title_box ul li:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    /* box-sizing: border-box; */
}

.boad .con_box .list_box {
    width: 1200px;
    height: 520px;
    background-color: red;
}
.boad .list_box .notice {}
.boad .list_box .notice ul {}
.boad .con_box .list_box .notice ul li {}
.boad .list_box .notice ul li img {
    height: 520px;
}
.boad .list_box .notice ul li a {
    display: flex;
}
.boad .list_box .notice ul li a .sub {}
.boad .list_box .notice ul li a h3 {}
.boad .list_box .notice ul li a p {}
.boad .list_box .notice ul li a .date {}
.boad .list_box .event {}



/* 동물이야기 */
.story {
    width: 100%;
    height: 1230px;
    background-color: coral;
}

/* 테마존 */
.theme {
    width: 100%;
    height: 1860px;
    background-color: cornflowerblue;
}

/* 예매하기 */
.ticket {
    width: 100%;
    height: 1000px;
    background-color: khaki;
}

/* 오시는길 */
.map {
    width: 100%;
    height: 1000px;
    background-color: hotpink;
}

/* 편의시설 */
.gallery {
    width: 100%;
    height: 1600px;
    background-color: darkseagreen;
}

/* sns */
.sns {
    width: 100%;
    height: 1000px;
    background-color: darkcyan;
}

/* 자주하는질문 */
.faq {
    width: 100%;
    height: 900px;
    background-color: #000;
}

/* 전체설정 */
.header, .title_inner {
    width: 1440px;
    margin: auto;
}